<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.vTiger.TestScripts.FCreateQuotesTest"/>
      <class name="com.vTiger.TestScripts.BCreateProductTest"/>
      <class name="com.vTiger.TestScripts.HCreateInvoiceTest"/>
      <class name="com.vTiger.TestScripts.ECreateLeadTest"/>
      <class name="com.vTiger.TestScripts.ACreateVendorTest"/>
      <class name="com.vTiger.TestScripts.CreateCampaignTest"/>
      <class name="com.vTiger.TestScripts.DCreateOrgTest"/>
      <class name="com.vTiger.TestScripts.GCreateSOTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
